@charset "utf-8";
/* CSS Document */


img, embed, object, video {
	max-width: 100%;     /* catch-all to prevent media objects from overspilling the viewport */
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
a {
	color: white;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  /* min-height: 100%; */
  border: 8px solid #c3c3c3;
}
#restaurants {
	text-align: center;
}
.restaurants-container {
	display: inline-block;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #104673;
  text-align:center;
}
nav h1 {
  margin: auto;
	padding: 10px;
}
nav h1 a {
  color: #fff;
  /* font-size: 2em; */
  font-weight: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #c3c3c3;
    font-size: 1.3em;
    margin: 0;
    /* width: calc(50% - 80px); */
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
    /* color: #0275d8; */
		color: #104673;
    text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
@media screen and (max-width: 320px) {
	nav h1 a {
	  font-size: .6em;
	}
}
@media screen and (max-width: 599px) {
	nav h1 a {
	  font-size: 1.2em;
	}
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering (on listing page)====================== */
.filter-options {
	padding: 20px 45px;
  background-color: #104673;
	display: flex;
	flex-wrap: wrap;
}
.filter-label {
  color: white;
  font-size: 1.6em;
	line-height: 1.7em;
	font-weight: normal;
}
.filter-options select {
  background-color: white;
  font-family: Arial,sans-serif;
  font-size: 1.3em;
	padding: 10px;
  margin-left: 10px;
}
/* labels are used to provide screenreader context for the filtering widget,
   but they shouldn't actually appear */
label.screenreader  {
	position: absolute;
	text-indent: -10000px;
}
/*  parameters for header and filter widget that depend on viewport */
@media screen and (min-width: 200px) {
	.filter-label {
  	font-size: .8em;
		padding-bottom: 3px;
		width: 100%;
	}
	.filter-options select {
	  font-size: .7em;
		padding: 2px;
	}
	nav h1 a	{
		font-size: .6em;
	}
	.filter-options {
		width: 60%;
	}
}
@media screen and (min-width: 400px) {
	.filter-label {
  	font-size: .7em;
		width: 100%;
	}
	.filter-options select {
	  font-size: .7em;
		padding: 2px;
	}
	nav h1 a	{
		font-size: .8em;
	}
	.filter-options {
		width: 85%;
	}
}
@media screen and (min-width: 600px) and (max-width: 800px) {
	.filter-options {
		width: 90%;
	}
	.filter-label {
  	font-size: 1.3em;
		width: 85%;
    text-align: left;
	}
	.filter-options select {
	  font-size: 1em;
	}
	nav h1 a	{
		font-size: 1em;
	}
}
@media screen and (min-width: 800px) {
	.filter-options {
		width: 95%;
	}
	.filter-label {
  	font-size: 1.3em;
		width: 30%;
    text-align: right;
	}
	.filter-options select {
	  font-size: 1.3em;
	}
	/* nav h1 a	{
		font-size: 2em;
	} */
}
@media screen and (min-width: 1000px) {
	.filter-label {
  	font-size: 1.3em;
		width: 15%;
    text-align: right;
	}
	nav h1 a	{
		font-size: 2em;
	}
}

/* ====================== Restaurant Listing ====================== */
/* settings common to all viewport sizes */

#restaurants-list {
	background-color: #f3f3f3;
	list-style: outside none none;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}
#restaurants-list li {
	background-color: #fff;
	border: 2px solid #ccc;
	font-family: Arial,sans-serif;
}
#restaurants-list .restaurant-img {
	background-color: #ccc;
	display: block;
	/* margin: 0; */
}
#restaurants-list li h1 {
	/* color: #f18200; */
	color: #720500;
	font-family: Arial,sans-serif;
	font-size: 14pt;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 20px 0 10px;
	text-transform: uppercase;
}
#restaurants-list p {
	margin: 0;
	font-size: 1.2em;
}
#restaurants-list li a {
	/* background-color: orange; */
	background-color: #720500;
	/* border-bottom: 3px solid #eee; */
	border-bottom: 1px solid #8f2e1e;
	color: #fff;
	display: inline-block;
	font-size: 10pt;
	margin: 15px 0 0;
	padding: 8px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}


/* restaurant list settings that need to change with viewport */
@media screen and (max-width: 599px) {
	#restaurants-list li {
		margin-bottom: 10px;
		width: 90%;
		padding-bottom: 15px;
	}
}
@media screen and (min-width: 600px) and (max-width: 800px) {
	#restaurants-list li {
		width: 47%;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
}
@media screen and (min-width: 801px) and (max-width: 1229px) {
	#restaurants-list li {
		width: 48%;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 1230px) {
	#restaurants-list li {
	  padding: 20px 30px 35px;
		margin-bottom: 15px;
	  text-align: left;
		width: 28%;
	}
}

/* ====================== Restaurant Details ====================== */
/*  (separate page for info about each individual restaurant) */
.inside header {
  width: 100%;
  z-index: 1000;
}

.inside #footer {
  width: 100%;
}
#restaurant-name {
  /* font-size: 2em;	 */
  color: #720500;
  font-family: Arial,sans-serif;

  font-weight: 200;
  text-transform: uppercase;
}
#restaurant-img {
	width: 95%;
}

#restaurant-cuisine {
  /* font-size: 1.5em; */
  background-color: #104673;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 95%;
}
#restaurant-container {
	padding: 24px 0 10px 30px;
  width: 45%;
}

@media only screen and (min-width: 200px) {
	#restaurant-name {
	  font-size: 1em;
	}
	#restaurant-address {
	  font-size: 1em;
	}
	#restaurant-cuisine {
	  font-size: .8em;
	}
	#restaurant-container {
		padding: 0;
	  width: 100%;
		margin: 0;
	}
	.inside #map-container {
		padding: 0;
		min-height: 400px;
		width: 100%;
		margin: 0 5% 0 0;
	}

	.inside #map {
	  background-color: #ccc;
		border: 1px solid #104673;
	  height: 50%;
	  width: 100%;
	}
	#reviews-container {
		margin-top: 80px;
	}
	#reviews-container h2 {
	  font-size: 1.1em;
	}
	#reviews-container ul {
		width: 80%;
	}
	#restaurants-list p {
		font-size: .8em;
	}
	#reviews-list li {
  	background-color: #f3f3f3;
	  border: 0;
	}
	#operating-hours {
		border: 0;
	}
	.review-hr-rule {
		display: none;
	}
	#restaurant-hours-title {
		font-size: .7em;
		padding-top: 10px;
	}
	#restaurant-hours td {
		font-size: .8em;
		display: list-item;
		list-style: none;
	}
}
@media only screen and (min-width: 400px) {
	#restaurant-name {
	  font-size: 1.2em;
	}
	#restaurant-address {
	  font-size: 1.1em;
	}
	#restaurant-cuisine {
	  font-size: 1em;
	}
	#restaurant-container {
		padding: 0;
	  width: 95%;
		margin: 20px;
	}
	#reviews-container h2 {
	  font-size: 1.2em;
	}
	#restaurant-img {
		width: 100%;
	}
	#restaurant-cuisine {
		width: 100%;
	}
	.inside #map-container {
		padding: 0;
		min-height: 400px;
		width: 95%;
		margin: 20px;
	}
	.inside #map {
	  background-color: #ccc;
		border: 1px solid #104673;
	  height: 50%;
	  width: 100%;
	}
	#restaurant-hours td {
		font-size: .9em;
		padding-bottom: 20px;
		display: table-cell;
		line-height: .7em;
	}
	#reviews-container {
		margin-top: 15%;
	}
	#reviews-container ul {
		width: 90%;
	}
	#restaurants-list p {
		font-size: .9em;
	}
	#reviews-list li {
  	background-color: #f3f3f3;
	  border: 0;
	}
	#operating-hours {
		border: 0;
	}
	.review-hr-rule {
		display: none;
	}
	#restaurant-hours-title {
		font-size: .8em;
		padding-top: 10px;
	}
}
@media only screen and (min-width: 600px) {
	#restaurant-name {
	  font-size: 1.6em;
	}
	#restaurant-address {
	  font-size: 1.2em;
	}
	#restaurant-cuisine {
	  font-size: 1.1em;
	}
	#restaurant-hours td {
		font-size: 1em;
		padding-bottom: 20px;
		display: table-cell;
		line-height: 1em;
	}
	#restaurant-hours tr {
		/* padding-bottom: 20px; */
	}
	#reviews-container {
		margin-top: 20%;
	}
	#reviews-container ul {
		width: 90%;
	}
	#reviews-container h2 {
	  font-size: 1.3em;
	}
	#reviews-list li {
  	background-color: #fff;
  	border: 5px solid #c3c3c3;
	}
	#operating-hours {
		border: 0;
	}
	.review-hr-rule {
		display: none;
	}
	#restaurants-list p {
		font-size: 1em;
	}
	.inside #map-container {
		padding: 0;
		min-height: 400px;
		width: 100%;
		margin: 20px;
	}
	.inside #map {
	  background-color: #ccc;
		border: 1px solid #104673;
	  height: 50%;
	  width: 100%;
	}
	#restaurant-hours-title {
		font-size: .9em;
		padding-top: 10px;
	}
}


@media only screen and (min-width: 850px) {
	#restaurant-name {
	  font-size: 1.8em;
	}
	#restaurant-address {
	  font-size: 1.2em;
	}
	#restaurant-cuisine {
	  font-size: 1.1em;
	}
	#restaurant-container {
		padding: 0;
	  width: 45%;
		margin: 0;
	}
	#restaurant-img {
		width: 95%;
	}
	#restaurant-cuisine {
		width: 95%;
	}
	#reviews-container h2 {
	  font-size: 1.4em;
	}
	#reviews-list li {
  	background-color: #fff;
  	border: 5px solid #c3c3c3;
	}
	#operating-hours {
		border: 0;
	}
	.review-hr-rule {
		display: none;
	}
	.inside #map-container {
		padding: 0;
		min-height: 400px;
		width: 45%;
		margin: 20px;
	}
	.inside #map {
	  background-color: #ccc;
		border: 1px solid #104673;
	  height: 50%;
	  width: 100%;
	}
	#reviews-container {
		margin-top: 13%;
	}
	#restaurant-hours-title {
		font-size: 1em;
		padding-top: 10px;
	}
}

@media only screen and (min-width: 1300px) {
	#restaurant-name {
	  font-size: 2em;
	}
	#restaurant-address {
	  font-size: 1.3em;
	}
	#restaurant-cuisine {
	  font-size: 1.4em;
	}
	#restaurant-container {
		padding: 0;
	  width: 45%;
		margin: 40px;
	}
	#reviews-container {
		margin-top: 10px;
	}
	#reviews-container h2 {
	  font-size: 1.6em;
	}
	#restaurant-img {
		width: 100%;
	}
	#restaurant-cuisine {
		width: 100%;
	}
	.inside #map-container {
		width: 45%;
	}
	.inside #map {
	  background-color: #ccc;
		border: 1px solid #104673;
	  height: 50%;
	  width: 100%;
		padding: 10px 0;
	}
	#restaurant-hours td {
		font-size: 1em;
		padding-bottom: 10px;
		display: table-cell;
	}
	#reviews-container ul {
		width: 95%;
	}
	#reviews-list li {
  	background-color: #fff;
  	border: 5px solid #c3c3c3;
	}
	#operating-hours {
		border: 0;
	}
	#restaurants-list p {
		font-size: 1.2em;
	}
	#operating-hours {
		background-color: #eeeeee;
		height: 45%;
		border: 2px solid #104673;
		margin-top: 12px;
	}
	.review-hr-rule {
		border: 2px solid #104673;
		width: 95%;
		display: block;
	}
	#restaurant-hours-title {
		font-size: 1.2em;
		padding-top: 10px;
	}
}



/* reviews settings common to all viewports */
#restaurant-hours-title {
	text-align: center;
}

#reviews-container {
	padding-bottom: 35px;
}
#reviews-container h2 {
  color: #720500;
  font-weight: normal;
	padding: 25px 40px 0;
}
#reviews-list {
	width: 95%;
}
#reviews-list li {
  list-style-type: none;
	padding: 15px 20px;
	margin-bottom: 15px;
}
#reviews-list li p {
  /* margin: 0 0 10px; */
	font-size: 1.2em;
}

#restaurant-hours {
	margin: auto;
}

#restaurant-hours td {
  color: #666;
	/* font-size: 1.2em; */
	padding-right: 20px;
}


/* for Restaurant Detail page, set up the restaurant info and map as top section */
section#top {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	width: 100%;
}

/* for Restaurant Detail page, settings specific to the reviews and star-ratings */
.star-checked {
  color: orange;
}
.review-date {
	font-size: 1em;
	font-style: italic;
}
.review-reviewer {
	padding-top: 10px;
	font-size: 1.2em;
	font-weight: bold;
}


/* footer section (common to both pages)*/
#footer {
  background-color: #104673;
  color: #e2e2e2;
  font-size: .75em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer strong {
	font-size: 1.2em;
}
#errorcontent {
	text-align: center;
	margin: 200px 0;
	font-size: 2em;
}
